body{
    font-family: "Roboto";
    background-image: url("../src/Fondo.gif");
}
    .o-title {
        font-weight: bold;
        font-size: 40px;
        margin-top: 0;
        color: black;
        display: flex;
        flex-direction: row;
    }

    .o-t1{
        color: #4F2260;
        
    }
    .o-t2{
        color: gray;
        
    }
    .o-title img{
        margin-left: 2rem;
        width: 50px;
        height: 50px;
        margin-top: 5rem;
    }

    .o-table{
        
        margin-top:2rem;
        display:flex;
        justify-content: flex-start;
        margin-bottom: 4rem;
        
        
    }

    .o-table table{
        width: 44%;
        height: auto;
        font-size: 20px;
        font-family: roboto;
        background-color: #8769C4;
        color: white;
        text-align: start;
        font-weight: bold;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
        box-shadow: 3px 3px 3px 3px indigo ; 
        
    }
    .o-row{
    font-family: roboto;
    font-size: 20px;
    color: indigo;
    }
    .o-link {
        width: 7%;
        font-size: 20px;
        font-family: roboto;
        font-weight: bold;
        border-radius: 3px;
        text-align: center;
        margin-left:0rem;
        
    }

    .o-t3{
        width: 7%;
        font-size: 20px;
        font-family: roboto;   
        /*Dale estilo a esta vuelta que yo aun apesto en web*/    
    }


    .o-desc{
    font-family: roboto;
    font-size: 16px;
    color: white;
    
    }

